@import "./fonts.scss";
@import "./variables.scss";

#features {
  margin-top: 90px;
}

.features {
  background-color: #f5ce76;
  padding: 30px;
  border: 4px solid #21252a;
  border-radius: 34px;

  h1 {
    font-family: Berkshire;
    font-size: 4em;
  }

  p {
    margin-top: 30px;
    font-family: AzeretVariable;
    font-size: 1.2em;
    padding-left: 10px;
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  font-family: AzeretVariable;
  font-weight: 500;
  font-size: 1.5em;
}

// -------------------------------- MEDIA QUERIES ----------------------------
@media (max-width: 640px) {
  .features {
    align-items: center;

    h1 {
      font-size: 2.5em;
    }
  }
}

@media (max-width: 417px) {
  .features {
    padding: 20px;

    h1 {
      font-size: 1.9em;
    }
  }

  .features-list {
    font-size: 1.2em;
  }
}