// @import '../fonts.scss';
// @import '../variables.scss';

.navbar {
  height: 120px;
  z-index: 100;
  // background-color: ;

  color: white !important;
}

.navbar-brand {
  color: white;
  margin-left: 55px;

  img {
    width: 200px;
  }
}

.not-fixed-top {
  a {
    color: black;
    font-size: 0.9em;
  }

  a:hover {
    color: white;
  }
}

.fixed-top {
  height: 80px;
  // color: $banner-blue;

  transition-property: opacity;
  background-color: rgba(255, 255, 255, 0.898);
  box-shadow: 5px 5px 20px #919191;

  a {
    color: blue;
  }

  .navbar-brand {
    img {
      width: 150px;
    }
  }
}

.color-remover {
  background-color: transparent;
}

.navbar-toggler {
  border: none !important;
  text-decoration: none;
  color: initial;

  button {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.navbar-nav {
  position: absolute;
  right: 100px;
  font-family: PoppinsMedium;
  font-weight: 400;
  font-size: 1.3em;
  text-transform: capitalize;

  .nav-link {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
  }
}

// --------------------------- MEDIA QUERIES -----------------------------------
@media (max-width: 991px) {
  .navbar-nav {
    visibility: hidden;
  }

  .navbar-brand {
    margin-left: 20px;
  }
}

@media (max-width: 417px) {
  .navbar-toggler {
    button {
      font-size: 0.55em;
    }
  }
}